{% extends 'base.html' %}
{% load static %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class=" d-flex align-items-center justify-content-center">
        <h1>About Us (Design In Dev.)</h1>
    </div>
    <div class=" d-flex align-items-center justify-content-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, odio? Aliquid id non repellendus eius veritatis ratione, officia mollitia magni nostrum in, dolores neque accusamus fugiat cupiditate tenetur aspernatur laudantium!</p>
    </div>
</div>

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}