{% extends 'base.html' %}
{% load static %}
{% block title %} SCI-HI {% endblock %}

{% block customcss %} <link rel="stylesheet" href="{% static 'customcss/custom.css' %}"> {% endblock %}

{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}  


<div class="text-center" style="height: 465px; padding: 100px; background-image: url({% static 'assets/ch-1.png' %})">
    <h1 class="display-5 fw-bold text-white">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae, ducimus voluptatibus modi nemo eius minus totam voluptatum ex, molestiae incidunt maxime. Ipsa, sapiente! Aperiam minima ratione inventore molestiae! Eum?</p>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'assets/bootstrap-themes.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo rem nesciunt quibusdam iure voluptatem illum aperiam molestias a sunt? Ab, reprehenderit numquam. Perferendis aperiam iste quos? Veniam facere ex labore!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
      <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ad tempore consectetur quisquam! Nihil fuga corrupti quisquam officiis corporis rem, deserunt porro! Sint tenetur maxime quam necessitatibus doloremque expedita ad.</p>
    </div>

  </div>
</div>
  {% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}