{% extends 'base.html' %}
{% load static %}
{% block title %} SCI-HI | Homepage {% endblock %}

{% block customcss %}{% endblock %}

{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}  


<div class="text-center" style="background-size: cover;background-repeat: no-repeat; height: 465px; padding: 100px; background-image: url({% static 'assets/ch-1.png' %})">
    <h1 class="display-5 fw-bold text-white">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae, ducimus voluptatibus modi nemo eius minus totam voluptatum ex, molestiae incidunt maxime. Ipsa, sapiente! Aperiam minima ratione inventore molestiae! Eum?</p>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'assets/bootstrap-themes.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo rem nesciunt quibusdam iure voluptatem illum aperiam molestias a sunt? Ab, reprehenderit numquam. Perferendis aperiam iste quos? Veniam facere ex labore!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5 visually-hidden">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
      </form>
    </div>
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
      <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ad tempore consectetur quisquam! Nihil fuga corrupti quisquam officiis corporis rem, deserunt porro! Sint tenetur maxime quam necessitatibus doloremque expedita ad.</p>
    </div>

  </div>
</div>

<div class="container-fluid justify-content-center" style="background-size: 100% 100%;background-repeat: no-repeat; background-image: url({% static 'assets/reddia.png' %});">
  
  <div class="contianer" style="padding-bottom: 5%;padding-top: 5%;">
    <h1 class="display-5 fw-bold text-white text-center" style="padding-top: 4%; padding-bottom: 1%;">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-white text-center" style="padding-bottom: 3%;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo rem nesciunt quibusdam iure voluptatem illum aperiam molestias a sunt? Ab, reprehenderit numquam. Perferendis aperiam iste quos? Veniam facere ex labore!</p>
    </div>
    <div class="container justify-content-center">
      <div class="row">
        <div class="col align-items-center">
          <img src="{%static 'assets/bootstrap-themes.png'%}" alt=""style="width: 80%; height: auto;">
        </div>
        <div class="col">
          <img src="{%static 'assets/bootstrap-themes.png'%}" alt=""style="width: 80%; height: auto;">
        </div>
        <div class="col">
          <img src="{%static 'assets/bootstrap-themes.png'%}" alt=""style="width: 80%; height: auto;">
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'assets/bootstrap-themes.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Subscribe to our Newsletter </h1>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo rem nesciunt quibusdam iure voluptatem illum aperiam molestias a sunt? Ab, reprehenderit numquam. Perferendis aperiam iste quos? Veniam facere ex labore!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      </div>
    </div>
  </div>
</div>

<!-- School Clubs -->

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">School Clubs</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/Envirex.jpg' %}" alt="" width="64" height="64">
      <h2>Envirex</h2>
      <p>Envirex are student reporters, writers, and editors for school newspapers, websites, yearbooks, and audio and video broadcast mediums. They generate story ideas, conduct research on the topic about which they will be writing, and think of probing questions to ask sources during interviews. 
      </p>
      <a href="/clubs" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/BKD.png' %}" alt="" width="64" height="64">
      <h2>Barkada Kontra Droga</h2>
      <p>Barkada Kontra Droga is a peer group organized to provide and support school activities that promote awareness and intervention to drug abuse and its related issues. This group also supports the projects of the community and its local government with the same objective. This organization is supported by the students, teachers, school administrators, barangay council, local government unit, private institutions and other identified stakeholders</p>
      <a href="/clubs" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/GLEE.png' %}" alt="" width="64" height="64">
      <h2>GLEE</h2>
      <p>Glee Club is a student led show-choir where everyone is welcomed to sing, dance, or play instruments, even if they don't have space in their school schedule to take electives involving these talents.</p>
      <a href="#" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
  </div>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/SSG.png' %}" alt="" width="64" height="64">
      <h2>Supreme Student Government</h2>
      <p>The Sci Hi Supreme Student Government lays the groundwork for good governance, volunteerism, unity and cooperation by providing the students various venues where they can improve their leadership knowledge, skills and attitudes. It trains students to become better members of society in accordance with the ideals and principles of participatory democracy and good citizenship.</p>
      <a href="/clubs" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/BSP.png' %}" alt="" width="64" height="64">
      <h2>Boy Scouts of the Philippines</h2>
      <p>The Boy Scouts of the Philippines continues to strive in pursuing its mission – to inculcate in our Scouts love of God, country and fellowmen; to prepare the youth for responsible leadership; and to contribute to nation-building according to the ideals, principles and programs of Scouting.</p>
      <a href="/clubs" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
    <div class="feature col">
      <img src="{% static 'assets/clubicons/red/CAT.png' %}" alt="" width="64" height="64">
      <h2>Citizenship Advancement Training</h2>
      <p>Ibabahagi namin sa ‘yo ang iba't-ibang aral — hindi lang sa pagsasanay na may sandata at pagmartsa.
 
        Susubukin ng C.A.T. ang 𝗶𝘆𝗼𝗻𝗴 𝗹𝗮𝗸𝗮𝘀, 𝗸𝗮𝘁𝗮𝘁𝗮𝗴𝗮𝗻 𝗮𝘁 𝗱𝗶𝘀𝗶𝗽𝗹𝗶𝗻𝗮. Palalakasin nito ang inyong pisikal at mental na kapasidad. Huhubugin ka nito upang maging isang mahusay at maaasahan na pinuno, o responsableng mamamayan.
        </p>
      <a href="/clubs" class="icon-link">
        Learn More
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
    </div>
  </div>
  
</div>


<div class="container-fluid justify-content-center" style="padding-bottom: 2%;">
  <h1 class="display-5 fw-bold lh-1 text-center" style="padding-bottom: 1%;">FAQ</h1>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Are you accepting transferees ?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We are only accepting transferees from another Science High School or STE Class, provided they have met the grade requirement
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Are you accepting incoming
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We can only accomodate our Grade 10 completers and completers from another Science High School.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Where are you located ?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        We are located in  FXPF+7MG, Mabini Street, Extension, Cabanatuan City, 3100 Nueva Ecija
      </div>
    </div>
  </div>
  </div>
</div>
  {% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}