{% load static %}
<nav class="navbar navbar-dark sticky-top" style="background-color: rgba(137, 23, 25, 1);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'assets/nav-logo.png' %}" alt="" width="322" height="58" class="d-inline-block align-text-top">
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-white" aria-current="page">Home</a></li>
      <li class="nav-item dropdown"><a class="nav-link px-2 text-white dropdown-toggle" aria-current="page" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Academics</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/jhs">Junior Highschool</a></li>
          <li><a class="dropdown-item" href="/shs">Senior Highschool</a></li>
          <li><hr class="dropdown-divider"></li>
          <!-- <li><a class="dropdown-item" href="#">Admission</a></li> -->
        </ul>  
      </li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">About Us</a></li>
      <li class="nav-item dropdown"><a class="nav-link px-2 text-white dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Campus Life</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/clubs">School Clubs</a></li>
          <li><hr class="dropdown-divider"></li>
          <!-- <li><a class="dropdown-item" href="#">Admission</a></li> -->
        </ul>
      </li>
      <li class="nav-item"><a href="/redirect/alumnitracing" class="nav-link px-2 text-white">Alumni Tracing</a></li>
      <li class="nav-item"><a href="/portal/dashboard"><button type="button" class="btn btn-warning" style="color:white;">School Portal</button></a></li>

    </ul>

  </div>

  
</nav>