{% extends 'base.html' %}
{% load static %}
{% block title %} SCI-HI | Terms and Condition {% endblock %}
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}

<!-- Carousel Section -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">First Slide</text></svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Third Slide</text></svg>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div style="padding-top: 3%; text-align: center;">
      <img src="{% static 'assets/tochd.png'%}" alt="" class="abtushd">
  </div>
<!-- End Carousel -->


<div class="container" style="padding-top: 2%; padding-bottom: 5%;">
  <div class="row">
    <p class="lead">
      PLEASE READ THESE TERMS AND CONDITIONS OF USE (“AGREEMENT” OR “TERMS OF USE”) CAREFULLY BEFORE USING THE HONORATO C. PEREZ SR. MEMORIAL SCIENCE HIGH SCHOOL (“HCPSMSHS”) WEBSITE AND ITS OFFERED ONLINE SERVICES. THIS AGREEMENT SETS FORTH THE LEGALLY BINDING TERMS AND CONDITIONS FOR YOUR USE OF THE HCPSMSHS WEBPAGE (THE “HCPSMSHS PAGE”) AND ALL SERVICES PROVIDED BY HCPSMSHC ON THIS HCPSMSHS PAGE.
By using the HCPSMSHS PAGE in any manner, including but not limited to visiting or browsing the HCPSMSHS PAGE, you (the “user” or “you”) agree to be bound by this Agreement, including those additional terms and conditions and policies referenced herein and/or available by hyperlink.
    </p>
  </div>
  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 1. About the HCPSMSHS page </h3>
    <p class="lead" style="padding-left: 4%;">We are the official website of HONORATO C. PEREZ SR. MEMORIAL SCIENCE HIGH SCHOOL. All HCPSMSHS graphics, logos, designs, page headers, button icons, scripts, and service names are therefore owned by HCPSMSHS. HCPSMSHS’s trademarks may not be used, including as part of trademarks and/or as part of domain names or email addresses, in connection with any product or service in any manner that is likely to cause confusion.</p>
  </div>
  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 2. Membership Eligibility </h3>
    <p class="lead" style="padding-left: 4%;"><i>Age:</i> The services of HCPSMSHS are only available to and may be utilized by those under the age of 18 who can create legally binding contracts under applicable laws. You acknowledge and agree that you are under the age of 18 and that all registration information you provide is accurate and factual. HCPSMSHS has the right to reject any person or entity access to or use of the HCPSMSHS PAGE, and to amend its eligibility conditions at any time. This agreement is null and void were forbidden by law, and access to the HCPSMSHS PAGE is terminated in such places.
      They must be assisted by, and have the consent of, their parent or legal guardian. By applying, the applicant confirms that they have been assisted by their parent / guardian and that the parent / guardian has consented to the application on the Website, and payment for the qualification(s).
      <br><br>
      <i>Compliance:</i> You agree to abide by all local rules governing online behavior. Furthermore, you must follow the principles outlined in this Agreement and the HCPSMSHS Privacy Policy. Additionally, some services made available through the HCPSMSHS PAGE may be subject to additional terms and conditions published by HCPSMSHS from time to time and for any reason; your use of certain services is subject to such additional terms and conditions, that are incorporated into this Agreement by this reference.
      <br><br>
      <i>Password:</i> Always keep your password protected. You are legally accountable for any action, security risk, or damage that results from your failure to keep your password private. You agree to notify HCPSMSHS immediately of any unauthorized use of your password or any security risk. You also agree that HCPSMSHS will not be held liable for any losses incurred as a result of your failure to keep your password secure. You agree not to disclose your username and password to anyone other than HCPSMSHS without the school's proper authorization.
      <br><br>
      <i>Account Information:</i> You must always keep sort of your account information up to date and credible, including a valid email address
      <br><br>
      <i>Account Transfer:</i> Your HCPSMSHS account and user ID cannot be transferred or sold to someone else. HCPSMSHS reserves the right to cancel unconfirmed or inactive accounts
    </p>
  </div>
  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 3. Prohibited, Questionable and Infringing Items and Activities </h3>
    <p class="lead" style="padding-left: 4%;">
      You are completely responsible for your actions and interactions with Honorato C. Perez Sr. Memorial Science High School Restricted Activities: Your usage of HCPSRMSHS PAGE should not include:
    </p>
    <ul class="lead"style="padding-left: 7%;">
      <li>Be vulgar or include child pornograph</li>
      <li>Will not reproduce, duplicate, copy, sell, re-sell or exploit any Content</li>
      <li>Will not upload non-local or otherwise irrelevant Content, will not post the same or similar Content repeatedly, or will otherwise place an unfair or disproportionately significant burden on our infrastructure</li>
      <li>Violate any HCPSRMSHS page policy or community standards, or any HCPSRMSHS relevant law, legislation, ordinance, or regulation (including, but not limited to, consumer protection, unfair competition, anti-discrimination or false advertising)
      </li>
      <li>Disobey on a third party's copyright, patent, trademark, trade secret, or other proprietary or intellectual property rights, or publicity or privacy rights
      </li>
      <li>Be deceptive or entail the selling of unlawful, counterfeit, or stolen goods</li>
    </ul>
  </div>
  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 4. Breach </h3>
    <p class="lead" style="padding-left: 4%;">
      Without limiting any other remedies, HCPSMSHS may, without notice, and without refunding any fees, delay or immediately remove Content, warn HCPSMSHS community of a user’s actions, issue a warning to a user, temporarily suspend a user, temporarily or indefinitely suspend a user’s account privileges, terminate a user’s account, prohibit access to the HCPSMSHS PAGE, and take technical and legal steps to keep a user off the HCPSMSHS PAGE and refuse to provide services to a user if any of the following apply:
      <br><br><br>
      HCPSMSHS suspects (by information, investigation, conviction, settlement, insurance or escrow investigation, or otherwise) a user has breached this Agreement, the Privacy Policy, or other policy documents and community guidelines incorporated herein; HCPSMSHS is unable to verify or authenticate any of your personal information; or HCPSMSHS believes that a user is acting inconsistently with the letter or spirit of HCPSMSHS policies, has engaged in improper or fraudulent activity in connection with HCPSMSHS or the actions may cause legal liability or financial loss to HCPSMSHS users or to HCPSMSHS.

    
    </p>

  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 5. Privacy </h3>
    <p class="lead" style="padding-left: 4%;">Except as provided in HCPSMSHS Privacy Policy, we will not sell or disclose your personal information (as defined in the Privacy Policy) to third parties without your explicit consent.
    </p>
  </div>


  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 6. No Warranty </h3>
    <p class="lead" style="padding-left: 4%;"> HCPSMSHS, HCPSMSHS’S OFFICERS, TRUSTEES, EMPLOYEES, PROVIDE HCPSMSHS’S HCPSMSHS PAGE AND SERVICES “AS IS” AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. HCPSMSHS, HCPSMSHS’S OFFICERS, TRUSTEES, STOCKHOLDERS, EMPLOYEES SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM HCPSMSHS SHALL CREATE ANY WARRANTY.

    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 7. Liability Limit </h3>
    <p class="lead" style="padding-left: 4%;">HCPSMSHS AND IT’S STUDENTS, OFFICERS, TRUSTEES, EMPLOYEES, AND SUPPLIERS SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO YOUR OR ANYONE ELSE'S CONDUCT AND MISCONDUCT IN REGARDS TO THE USE OF HCPSMSHS’S PAGE/S, SERVICES AND AGREEMENTS.
    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 8. Indemnity </h3>
    <p class="lead" style="padding-left: 4%;">YOU AGREE TO INDEMNIFY AND HOLD  HCPSMSHS AND HCPSMSHS'S OFFICERS, TRUSTEES, AGENTS, AND EMPLOYEES, FREE AND in HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING REASONABLE ATTORNEYS’ FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF YOUR BREACH OF THIS AGREEMENT OR THE DOCUMENTS IT INCORPORATES BY REFERENCE, OR YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY.
    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 9. No Guarantee </h3>
    <p class="lead" style="padding-left: 4%;">HCPSMSHS does not guarantee continuous, uninterrupted access to the HCPSMSHS PAGE, and operation of the HCPSMSHS PAGE may be interfered with by numerous factors outside HCPSMSHS's control.

    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 10. Severability </h3>
    <p class="lead" style="padding-left: 4%;">If any provision of this Agreement is held unenforceable, then such provision will be modified to reflect the parties’ intention. All remaining provisions of this Agreement shall remain in full force and effect.
    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 11. HCPSMSHS Service </h3>
    <p class="lead" style="padding-left: 4%;">HCPSMSHS reserves the right to modify or terminate the HCPSMSHS service for any reason, without notice, at any time. HCPSMSHS reserves the right to alter these Terms of Use or other HCPSMSHS PAGE policies at any time. If HCPSMSHS makes a material change we will notify you here, by email, by means of a notice on our home page, or other places we deem appropriate. What constitutes a “material change” will be determined at HCPSMSHS’s sole discretion, in good faith, and using common sense and reasonable judgment.
    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 12. Choice of Law </h3>
    <p class="lead" style="padding-left: 4%;">This Agreement shall be understood and considered in accordance with and under the laws of the Republic of the Philippines in all respects.

    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 13. Entire Agreement </h3>
    <p class="lead" style="padding-left: 4%;">This Agreement contains the complete agreement and understanding between HCPSMSHS and you with respect to the subject matter hereof, and replaces all prior and contemporaneous agreements, understandings, inducements, and conditions, express or implied, oral or written, of any sort whatsoever with respect to the HCPSMSHS PAGE.
    </p>
  </div>

  <div class="row">
    <h3 class="display-10 fw-bold lh-1 mb-3" style = "padding-left: 4%;"> 14. Notices </h3>
    <p class="lead" style="padding-left: 4%;">All notices required or permitted to be given under this Agreement must be in writing and shall be deemed to have been given and received (a) when personally delivered, or delivered by same-day courier; or (b) on the third business day after mailing by registered or certified mail, postage prepaid, return receipt requested; or (c) when sent by email and upon receipt by the sending party of written confirmation by the receiving party; provided, however, an automatic email delivery or read receipt confirmation does not constitute such confirmation.
    </p>
    <p class="lead">All the services hereunder are operated by Honorato C Perez Senior Memorial Science High School.</p>
  </div>
</div>

{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}